<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Productos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Crud_DetalleMaestro.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="lateralMenu ">
        <nav class=" MenuContainer">
            <a asp-controller="Producto" asp-action="Index"
               class="@(ViewData["ClassActived"].Equals("Producto") ? "SectionActive" : "")">
                Productos
            </a>
            <a asp-controller="Categoria" asp-action="Index"
               class="@(ViewData["ClassActived"].Equals("Categoria") ? "SectionActive" : "")">
                Categorias
            </a>

            <a asp-controller="Pedidos" asp-action="Index"
               class="@(ViewData["ClassActived"].Equals("Pedidos") ? "SectionActive" : "")">
                Pedidos
            </a>

        </nav>
    </header>
    <div class="container">
        <main role="main" class=" containerMain">
            <section class="container-bg">
                @RenderBody()
            </section>
        </main>
    </div>


    <div class="d-flex justify-content-end fixed-bottom m-1 bottom-0 end-0">
        <div class="toast align-items-center text-white bg-primary border-0"
             role="alert" aria-live="assertive" aria-atomic="true" id="NotificationContainer">
            <div class="d-flex">
                <div class="toast-body">
                    <span id="notificationContent"></span>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>


    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Crud Detalle Maestro - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
